<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Rain
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>You are in a demo mode. Please contact our <a href="mailto:sales@radartorain.com">sales
                team
                @radartorain</a> to go further.
            </ion-card-subtitle>
        </ion-card-header>
        <ion-img src="/assets/r2r_compare.png"></ion-img>
        <ion-card-content>
            <p>Manage your rain and water information.<br>And if you are administrator, add Rain gauges, Zones...</p>
        </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
