<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>You are in a demo mode. Please contact our <a href="mailto:sales@radartorain.com">sales
                team
                @radartorain</a> to go further.
            </ion-card-subtitle>
        </ion-card-header>
      <ion-img src="/assets/logo_r2r.png"></ion-img>
        <ion-card-content>
            <p>Manage  your profile here.<br>And if you are administrator, all your team activities.</p>
        </ion-card-content>
    </ion-card>

  <span style="float:right;font-size:10px;">version: {{appVersion}}</span>

</ion-content>
